* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #2f3542;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 840px;
    height: 620px;
    background-color: #fff;
    display: flex;
}
.container .form-container {
    width: 50%;
    height: 100%;
    background-color: #fff;
    transition: transform .6s linear;
}
/* the style of login form and regist form */
.form-container .sign-in-form, .sign-up-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	/* display: none; */
	/* border: 1px solid red; */
}
.sign-up-form{
    display: none;	
}
.forget
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
}
.forget span:nth-of-type(1)
{
	margin-top: 60px;
	font-size: 26px;
	font-weight: 500;
}
.forget input
{
	width: 260px;
	height: 35px;
	outline: none;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #f1f2f6;
	transition: all .4s linear;
}
.forget form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.forget input:focus
{
	 border-bottom: 1px solid #ff6b81;
}
.forget input:nth-of-type(1)
{
	 margin-top: 30px;
}
.forget input:nth-of-type(2)
{
	margin-top: 10px;
}
.forget input:nth-of-type(3)
{
	margin-top: 10px;
}
.forget button
{
	width: 70px;
	height: 35px;
	margin-top: 50px;
	border-radius: 8px;
	background:  #2ecc71;
	color: white;
	border: 1px solid white;
	outline: none;
	cursor: pointer;
	transition: all .4s linear;
}
.yanimage2
{
	margin-top: 10px;
	/* margin-left: -30px; */
	/* position: absolute;
	top: 400px;
	left: 55px; */
	/* border: 1px solid black; */
	width: 270px;
	height:100px;
	/* margin-left: 0px; */
	overflow: hidden;
	position: relative;
}
.yanimage2>.inputgri2
{
	position: absolute;
	top: -30px;
	border: 1px solid red;
	display: flex;
	margin-top: -100px;
	width: 600px;
	height: 35px;
	outline: none;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #f1f2f6;
	transition: all .4s linear;
}
.yanimage2>img
{
	/* display: flex; */
	margin-top: 2px;
	border: 1px solid red;
	width: 100px;
	height: 40px;
	margin-top: 50px
}
.forget button:hover
{
	color:#1abc9c;
}
.sign-in-form span:nth-of-type(1), .sign-up-form span:nth-of-type(1) {
    margin-top: 60px;
    font-size: 26px;
    font-weight: 500;
}
.sign-in-form input, .sign-up-form input {
    width: 220px;
    height: 35px;
    outline: none;
    padding: 5px;
    border: none;
	margin-top: 5px;
    border-bottom: 1px solid #f1f2f6;
    transition: all .4s linear;
}
.sign-in-form form, .sign-up-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sign-in-form input:focus, .sign-up-form input:focus {
    border-bottom: 1px solid #ff6b81;
}
/* .sign-in-form input:nth-of-type(1), .sign-up-form input:nth-of-type(1) {
    margin-top: 50px;
}
.sign-in-form input:nth-of-type(2), .sign-up-form input:nth-of-type(2) {
    margin-top: 20px;
} */
.sign-in-form input:nth-of-type(1)
{
	margin-top: 50px;
}
.sign-in-form input:nth-of-type(2)
{
	margin-top: 50px;
}
.sign-up-form input
{
	margin-top: 10px;
}
.sign-in-form button, .sign-up-form button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color:#2ecc71;
    color: white;
    outline: none;
    margin-top: 50px;
    cursor: pointer;
    transition: all .4s linear;
	
}
.sign-in-form button:nth-of-type(1)
{
	margin-top: 100px;
}
.sign-in-form button:hover, .sign-up-form button:hover {
    /* transform: scale(1.2); */
    background-color: #1abc9c;
}

/* the style of tip form */
.container .tip-form {
    width: 50%;
    height: 100%;
    background: linear-gradient(#1abc9c, #2ecc71);
    z-index: 3;
    transition: transform .6s linear;
}
.tip-form .sign-in-tip, .sign-up-tip {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sign-in-tip {
    display: none;
}
.sign-in-tip span, .sign-up-tip span {
    font-weight: bold;
    font-size: 28px;
    color: white;
}
.sign-in-tip button, .sign-up-tip button {
    width: 70px;
    height: 35px;
    margin-top: 50px;
    border-radius: 8px;
    background: none;
    color: white;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    transition: all .4s linear;
}
.sign-in-tip button:hover, .sign-up-tip button:hover {
    transform: scale(1.2);
    border-radius: 35px;
}
.b1
{
	position: relative;
}
.forget-pwd
{
	position: absolute;
	bottom: -50px;
	left:auto;
}
.giveback
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
}
.giveback span:nth-of-type(1)
{
	margin-top: 200px;
	font-size: 26px;
	font-weight: 500;
}
.giveback form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.giveback input
{
	margin-top: 30px;
	width: 260px;
	height: 35px;
	outline: none;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #f1f2f6;
	transition: all .4s linear;
}
.giveback form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.giveback input:focus
{
	 border-bottom: 1px solid #ff6b81;
}
.giveback button
{
	width: 70px;
	height: 35px;
	margin-top: 50px;
	border-radius: 8px;
	background:  #2ecc71;
	color: white;
	border: 1px solid white;
	outline: none;
	cursor: pointer;
	transition: all .4s linear;
}

.giveback button:hover
{
	color:#1abc9c;
}
.backtishi
{
	display: none;
}
/* .sb1
{
	display: block;
	
	margin-top: 100px;
} */
.select
{
	/* border: 1px solid black; */
	margin-top: 20px;
	margin-left: 50px;
	width: 100%;
	/* height: 100px; */
	/* overflow: hidden; */
}
.selectspan
{
	display: flex;
	margin-top: 5px;
	margin-right: 10px;
	/* float: left; */
	/* border: 1px solid red; */
	text-align: center;
	line-height: 5px;
	font-size: 14px;
	font-weight:100;
}
.schools
{
	display: flex;
	/* float: left; */
	margin-top: 12px;
	width: 150px;
	height: 30px;
}
.fy
{
	font-size: 100;
	display: none;
}

#ivtSpan
{
	display: block;
	width: 100px;
	height: 20px;
	font-size: 5px;
	color: red;
	position: absolute;
	top: 120px;
	right: 20px;
	overflow: hidden;
	/* display: none; */
	
}
#iphoneSpan
{
	display: block;
	width: 100px;
	height: 20px;
	font-size: 5px;
	color: red;
	position: absolute;
	top: 180px;
	right: 20px;
	overflow: hidden;
	/* display: none; */
	
}
#inameSpan
{
	display: block;
	width: 100px;
	height: 20px;
	font-size: 5px;
	color: red;
	position: absolute;
	top: 240px;
	right: 20px;
	overflow: hidden;
	/* display: none; */
	
}
#ipwdSpan
{
	display: block;
	width: 100px;
	height: 20px;
	font-size: 5px;
	color: red;
	position: absolute;
	top: 295px;
	right: 20px;
	overflow: hidden;
	/* display: none; */
	
}
#ToiphoneSpan
{
	display: block;
	width: 100px;
	height: 20px;
	font-size: 10px;
	color: red;
	margin-top: 20px;
	margin-left: -120px;
	overflow: hidden;
	/* display: none;	 */
	/* border: 1px solid black;	 */
}
#ToipwdSpan
{
	display: block;
	width: 100px;
	height: 20px;
	font-size: 10px;
	color: red;
	margin-top: 20px;
	margin-left: -120px;
	overflow: hidden;
}
#backivtSpan
{
	display: block;
	width: 100px;
	height: 20px;
	font-size: 10px;
	color: red;
	margin-top: 20px;
	margin-left: -170px;
	overflow: hidden;
	/* border: 1px solid black; */
	/* display: none;		 */
}
#pstSpan
{
	display: block;
	width: 100px;
	height: 20px;
	font-size: 10px;
	color: red;
	margin-top: 20px;
	margin-left: -170px;
	overflow: hidden;
	/* border: 1px solid black; */
}
#backiphoneSpan
{
	display: block;
	width: 100px;
	height: 20px;
	font-size: 10px;
	color: red;
	margin-top: 20px;
	margin-left: -170px;
	overflow: hidden;
	/* border: 1px solid black; */
}
.loginTishi
{
	height: 20px;
	/* border: 1px solid red; */
	font-size: 15px;
	font-weight: bold;
	color: indianred;
}
.yanimage
{
	margin-top: 5px;
	/* border: 1px solid black; */
	width: 250px;
	height: 100px;
	margin-left: 22px;
}
.yanimage>.inputgri
{
	/* border: 1px solid red; */
	margin-top: 0px;
}
.yanimage>img
{
	margin-top: 2px;
	border: 1px solid red;
	width: 100px;
	height: 40px;
}
.checking
{
	display: block;
	width: 70px;
	height: 35px;
	margin-top: 30px;
	border-radius: 8px;
	background:  #2ecc71;
	color: white;
	border: 1px solid white;
	outline: none;
	cursor: pointer;
	transition: all .4s linear;
}
.checking:hover
{
	color:#1abc9c;
}