<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/sharestyle/css/error.css}" href="error.css">
    <title>页面错误</title>
</head>
<body>
    <div class="container">
        <div class="line"></div>
        <div class="error-tip">
            <img th:src="@{/sharestyle/img/waixingren.png}" alt="">
            <span class="tip-text">程序猿小哥哥正在抓外星人 <img src="alien.png"> 返回再试试嗷</span>
            <div class="name">
                <span>Share开发部</span>
            </div>
        </div>
    </div>
</body>
</html>