<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>图片详情</title>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" th:href="@{//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/activity_into_pic.css" th:href="@{/sharestyle/css/activity_into_pic.css}"/>
		
		<script src="js/jquery.js" th:src="@{/sharestyle/js/jquery.js}" type="text/javascript" charset="utf-8"></script>
		<script src="js/activity_into_pic.js" th:src="@{/sharestyle/js/activity_into_pic.js}" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="header">

			<div class="top">
				<div class="topleft">
					<span class="logo">Share</span>
				</div>
				<div class="topright">
					<ul>
						<li class="first_page">首页</li>
						<li class="Acts">
							<i class="fa fa-yelp fa-1x" aria-hidden="true"></i></i>
							<span class="ActsBtn">活动详情</span>
						</li>
						<li class="login">
							<i class="fa fa-user-o fa-1x" aria-hidden="true"></i>
							<span>
								<img th:src="@{/pictures/{avatar_image}(avatar_image=${session.avatar_image})}" class="firstPageInfoImg">
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="down">
				<div class="into_activitey">
					<span class="act_id" id="one_activity_id" style="display: none;" th:text="${activityList.activity_id}"></span>
					<div class="activity-fabu">
						<span>发布者</span>
						<p class="activity-fabu-people" th:text="${activityList.user_name}"></p>
						<span>日期</span>
						<p class="activity-fabu-date" th:text="${#dates.format(activityList.activity_date,'yyyy-MM-dd HH:mm')}"></p>
					</div>
					<img th:src="@{/pictures/{image_file}(image_file=${activityList.image_file})}" class="activity-img">
					<div class="activity_imformation">
						<span>活动标题</span>
						<p class="activity-title" th:text="${activityList.activity_name}">asfasf</p>

						<span>活动内容</span>
						<p class="activity_content" th:text="${activityList.activity_content}">asfasfa</p>
					</div>

				</div>

			</div>
		</div>
		<div id="main">
			<span style="color: #079992;font-size: 20px;font-weight: bolder; margin-left: 100px;">精彩活动</span>
		</div>
		<div class="container">
			
				<div class="pic_place" id="box3">
					<!-- <div class="item">
						<img src="img/pic3.jpg" class="picture-img">
						<div class="picture-content">
							<div id="" class="info">
								<img src="img/01.jpg" class="infoImg">
								<span class="picture-name">志鹏</span>
							</div>
							<div class="picture-love">
								<i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
								<i class="fa fa-heart fa-2x"style="display: none;" aria-hidden="true"></i>
								<span class="picture-love-num">10000</span>
							</div>
						</div>
						<span class="info_id"></span>
					</div> -->
				</div>
		</div>
	</body>
</html>
