<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>个人主页</title>
		<link rel="stylesheet" type="text/css" href="css/info.css" th:href="@{/sharestyle/css/info.css}"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			  th:href="@{//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">

		<script src="js/jquery.js" th:src="@{/sharestyle/js/jquery.js}" type="text/javascript" charset="utf-8"></script>
		<!-- <script src="./js/infopubuliu.js" type="text/javascript" charset="utf-8"></script> -->
		<script src="js/info.js"  th:src="@{/sharestyle/js/info.js}" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="header">

			<div class="top">
				<div class="topleft">
					<span class="logo">Share</span>
				</div>
				<div class="topright">
					<ul>
						<li class="first_page">首页</li>
						<li class="login">
							<i class="fa fa-user-o fa-1x" aria-hidden="true"></i>
							
							<span>
								<img th:src="@{/pictures/{avatar_image}(avatar_image=${session.avatar_image})}" class="firstPageInfoImg">
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="down">
				<div class="someInfomation">
					<span class="usertitle">Some简介</span>
					<img th:src="@{/pictures/{avatar_image}(avatar_image=${session.avatar_image})}" class="useravater">
					<span class="username" th:text="${session.username}">像风一样的男人</span>
					<p class="usermotto" th:text="${session.user_motto}">#个性签名##个性签名#</p>
				</div>
				<div class="UlInfomation">
					<ul>
						<li class="one">已发布图片</li>
						<li class="btnAttention">关注列表</li>
						<li>个人信息</li>
						<li>留言板</li>
						<li>邀请码</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="app">
			<div class="container">
			<ul>
				<li class="infoFabu" id="box2">
					<div class="infoItems">
					<!-- <div class="infoItem">
						<img src="img/pic3.jpg" class="info-picture-img">
						<div class="info-picture-content">
							<div class="info-picture-love">
								<i class="fa fa-heart fa-2x" aria-hidden="true"></i>
								<span picture-love-num>10000</span>
								<a href="#" class="pic_delete">删除</a>
							
							</div>
						</div>
					</div> -->
					</div>
				</li>

				<li class="followed-li">
<!--					<div class="followed">-->
<!--						<img th:src="@{/sharestyle/img/pic1.jpg}" class="followed_avatar">-->
<!--						<span class="followed_id">123456</span>-->
<!--					<span class="followed_user_id"  style="display: none">' +arr[i].followed_id+'</span>-->
<!--						<button type="button">取消关注</button>-->

<!--					</div>-->

				</li>
				<li class="userInformation">
					<form  id="updateForm" enctype="multipart/form-data">
						<div id="" class="pic_change">
							头像：<input type="file" accept="image/*" name="image_name" id="image_file" value="" class="user_avatar" style="display: none;"/><br>
							<button type="button" class="pic_change_btn">点击上传</button>
							<span class="pic_change_text">未上传文件</span>
							<button type="button" class="remove">remove</button>
						</div>
						
						手机号：<input readOnly="true" type="text" name="user_id" class="user_id" id="iphone" th:value="${userList.user_id}"onblur="iphonecheck()">
						<span class="sp" id="iphoneSpan"></span><br>
						昵称：<input type="text" name="user_name" class="user_name" id="iname" th:value="${userList.user_name}" onblur="inamecheck()">
						<span class="sp" id="inameSpan"></span><br>
						年龄：<input type="text" name="user_age" class="user_age" id="iage" th:value="${userList.user_age}" onblur="iagecheck()">
						<span class="sp" id="iageSpan"></span><br>
						学校：<input readOnly="true" type="text" name="user_school" class="user_school" id="ischool" th:value="${userList.user_school}" onblur="ischoolcheck()">
						<span class="sp" id="ischoolSpan"></span><br>
<!--						密码：<input type="text" name="user_password" class="user_password" th:value="${userList.user_password}"><br>-->
						个性签名：<textarea  type="text" name="user_motto" id="user_motto" class="user_motto" style="width: 400px; height: 100px;" th:text="${userList.user_motto}"></textarea><br>
						<input type="button" value="修改" id="submitForm">
					</form>
				</li>
				<li class="LeaveMessages">
<!--					<div class="Leave_A_Message">-->
<!--						<div class="Leave_man">-->
<!--							<img th:src="@{/sharestyle/img/03.jpg}" >-->
<!--							<span class="leave_man_id">id</span>-->
<!--						</div>-->
<!--						<p class="messagecontent">愿你快快乐乐愿你快快乐乐愿你快快乐乐愿你快快乐乐愿你快快乐乐愿你快快乐乐</p>-->

<!--					</div>-->
				</li>
				<li class="inviteCode">
					<span>请前往移动端查看</span>
				</li>
				
			</ul>

		</div>
		</div>
		<script type="text/javascript">
			//个人信息修改判断页
			function checkfield(id, reg) {
				var inp = document.getElementById(id)
				var va = inp.value;
				var alt = inp.alt;

				var span = document.getElementById(id + "Span")
				if (va == "" || va == null) {
					span.innerHTML = alt + "不能为空"
					span.style.color = "#e74c3c"
					return false;
				} else if (reg.test(va)) {
					span.innerText = alt + "ok"
					span.style.color = "#2ecc71"
					return true;
				} else {
					span.innerText = alt + "不符合规则"
					span.style.color = "#e74c3c"
					return false;
				}
			}

			function iphonecheck() {

				checkfield("iphone", /(^1\d{10}$)|(^[0-9]\d{7}$)/)


			}

			function inamecheck() {
				var inp = document.getElementById("iname");
				var va = inp.value;

				var alt = inp.alt;

				var span = document.getElementById("inameSpan");

				if (va == "" || va == null) {
					span.innerHTML = alt + "不能为空"
					span.style.color = "#e74c3c"
					return false;
				} else {
					span.innerText = alt + "ok"
					span.style.color = "#2ecc71"
					return true;
				}
			}
			function iagecheck(){

				checkfield("iage",/^\d+$/)
			}
			function ischoolcheck(){

				var inp = document.getElementById("ischool");
				var va = inp.value;

				var alt = inp.alt;

				var span = document.getElementById("ischoolSpan");

				if (va == "" || va == null) {
					span.innerHTML = alt + "不能为空"
					span.style.color = "#e74c3c"
					return false;
				} else {
					span.innerText = alt + "ok"
					span.style.color = "#2ecc71"
					return true;
				}
			}

			function ipwdcheck() {
				checkfield("ipwd",/^[\da-z]+$/i)
			}
		</script>
	</body>
</html>
