<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<li class="Acts_fabu">
				<div class="GiveImg" title="请选择照片">
					<form action="" method="">
						<div id="GiveTop">
							<img src="" class="img1">
							<input type="file" data="img1" class="img-btn" accept="image/*" />
							<i class="fa fa-camera fa-2x camera" aria-hidden="true"></i>
						</div>
						<input type="text" name="" class="activity_title_fabu" placeholder="请输入活动标题"/>	
						<input type="button" name="" id="remove" value="remove" />
						<input type="submit" name="" id="" value="发布" class="share-btn" />
						
					</form>
				</div>
		</li>
	</body>
</html>
